{
  "rules": {
    "max-len" : ['error', 120],
    "global-require": 2,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "linebreak-style": 0,
  },
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    },
  },
  "extends": "airbnb",
}
